body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	height: 900px;
	background: linear-gradient(to bottom right, #FFB2D3, #FF985F);
	}
 
 /* Header =====
 ====================*/

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
}

.header_in {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	border-bottom: 1px solid #A58D96;

}

.nav {

	font-size: 22px;
	font-weight: 700;
}

.nav_link {
	margin-left: 50px;
	color: #000000;
	text-decoration: none;
	opacity: .75s;
	transition: opacity .1s linear;
}

.nav_link:hover {
	text-decoration: underline;
}

.logo_img {
	width: 110px;
	height: 90px;
}

.button {
	display: inline-block;
    background: linear-gradient(to bottom, #FFE882, #F99030);
    color: #fff;
    padding: 12px 27px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
}

.button:hover { background: rgba(255,255,255,.2); }
.button:active { background: white; }

/*Intro ==============
=========================*/

.container1 {
	display: flex;
	justify-content: space-between;
	width: 900px;
}

.intro {
	display: flex;

}

.intro_in {
	margin: 100px 200px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	height: 100px;
}

.intro_title {
	font-size: 65;
	font-weight: 900px;
	text-align: left;
}

.intro_visit {
	margin: 30px 0;
	font-size: 56;
	font-weight: 900px;
	text-align: left;
}

.button_div {
	margin: auto 200px;
}

.button_list {
	margin: 30px 0;
	display: inline-block;
    background: linear-gradient(to bottom, #FFE882, #F99030);
    color: #fff;
    padding: 22px 30px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);
}

.button_list:hover { background: rgba(255,255,255,.2); }
.button_list:active { background: white; }

.macaron {
	margin: 25px;
	width: 780px;
	height: auto;
}

/* Footer ========
=====================*/

.nav_footer {
	color: #403434;
	display: flex;
	align-items: center;
	margin: 0 200px;
}

